html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
}

h2 {
    font-size: 1.4em;
}

.title {
    padding-left: 2.5%;
}

ul li::marker,
.text-purple {
    color: #563DFF;
}

@media only screen and (max-width: 768px) {
    .country-flag {
        position: absolute;
        width: 70px;
        right: -35px;
        left: unset;
        bottom: 0;
        margin:
    }
    .country-land {
        width: 60%;
        padding-left: 22px;
    }
    .title {
        padding-left: 22px;
    }
}

.country-flag {
    position: absolute;
    width: 70px;
    right: -35px;
    left: unset;
    bottom: 0;
    margin: auto 0;
    top: 0;
}

.container {
    background-color: #f8f8f8;
}